$main: rgb(90, 1, 1);
$secondary: rgb(14, 82, 65);
$accent: rgb(21, 67, 141);
$white: rgb(255, 255, 255);
$dark: rgb(56, 56, 56);


// text colors

$text-main: $main;
$text-inverse: $white;
$text-accent: $accent;
$text-secondary: $secondary;